html{
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.container{
  max-width: 960px;
  display: flex;
  margin: auto;
}

.mobile{
  display: none;
}
/*header section*/
header{
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding: 1rem 0px;
}

nav{
  display: flex;
  background-color: cadetblue;
  padding: 1rem 0px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

nav div{
  display: flex;
  align-items: center;
}

nav.container img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul{
margin: 0rem 1rem;
}

ul li{
display: inline;
margin: 1rem;
}

header .flex{
  justify-content: flex-end;
}

.flex{
  display: flex;
}

.main-banner{
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
}

/*Services*/
.services{
  display: flex;
  justify-content: center;
}

.service{
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.service img.paper{
  width: 3.5rem;
  margin-bottom: 1rem;
}

.service img{
  width: 5rem;
  margin-bottom: 1rem;
}

/*support section*/
.boxes{
  display: flex;
  justify-content: space-between;
}

.box{
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.box .box-title{
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/*footer*/
footer{
  padding: 4rem;
  align-items: center;
  background-color: azure;
}

footer img{
  height: 1.5rem;
  margin-right: 1rem;
}

/*tablet version*/
@media only screen and (max-width: 1024px){
  nav.container{
    max-width: 100%;
  }

  .main-banner{
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  header{
    max-height: 22rem;
    padding-top: 0px;
  }

  .boxes{
    justify-content: center;
  }
}

@media only screen and (max-width: 700px){
  nav.container{
    max-width: 100%;
  }

  .menu ul{
    display: none;
  }

  .menu ul.mobile{
    display: block;
  }

  .main-banner{
    font-size: 1rem;
    margin: 9rem 0px auto 0px;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  header{
    max-height: 17rem;
  }

  .services{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .service{
    height: auto;
    font-size: 0.77rem;
    margin: 0.77rem;
  }

  .boxes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .box{
    width: auto;
  }

  .box .box-title{
    width: 100%;
    text-align: center;
  }

  .box p{
    font-size: 0.77rem;
  }

  footer.container{
    justify-content: center;
  }

  footer div{
    display: none;
  }
}
